body {
  background-image: url(../../assets/css/wall_background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 25px;
}

.jumbotron {
  background: transparent;
  color: white;
}

li {
  padding: 5px;
  margin: 5px;
  background: transparent;

}

.label {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;

}

.form-group {
  margin-bottom: 5px;

}
